<!DOCTYPE html>
<html ng-app="truthApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
        <script src="/truth/javascripts/controllers.js"></script>
        <script src="/truth/javascripts/truth.js"></script>
        <meta charset="utf-8" />
        <title>{{ site.title }} - {{ site.tagline }}</title>
        <link rel="stylesheet" href="/truth/stylesheets/pygment_trac.css" />
        <link rel="stylesheet" href="/truth/stylesheets/styles.css" />
        {% for css in page.css %}
		<link rel="stylesheet" href="{{ css }}" />
        {% endfor %}
        {% for script in page.scripts %}
        <script type="text/javascript" src="{{ script }}" ></script>
        {% endfor %}        
    </head>